.overlay {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  background-color: var(--neutral-900);

  &[data-state="true"] {
    display: flex;
    flex-direction: column;
  }
}