
// Colors
:root {
  // common
  --white: #FFF;
  --black: #000;

  // green
  --neutral-200: #171A1C;
  --neutral-300: #75808A;
  --neutral-400: #ACB3B9;
  --neutral-500: #C8CCD0;
  --neutral-600: #E3E6E8;
  --neutral-700: #ECEDEF;
  --neutral-800: #F6F7F8;
  --neutral-900: #FFFFFF;
  --neutral-900-contrast: var(--neutral-200);
  --neutral-200-contrast: var(--neutral-900);

  // green
  --green-200: #245C25;
  --green-300: #328134;
  --green-400: #40A642;
  --green-500: #5ABF5C;
  --green-600: #7ECD80;
  --green-700: #A3DBA4;
  --green-800: #C8E9C9;
  --green-900: #EDF8ED;

  // red
  --red-200: #780808;
  --red-300: #A80B0B;
  --red-400: #D80E0E;
  --red-500: #F12727;
  --red-600: #F45757;
  --red-700: #F78787;
  --red-800: #FAB7B7;
  --red-900: #FDE7E7;

  // orange
  --orange-200: #7F3D00;
  --orange-300: #B25500;
  --orange-400: #E56E00;
  --orange-500: #FF881B;
  --orange-600: #FFA24C;
  --orange-700: #FFBC7F;
  --orange-800: #FFD7B3;
  --orange-900: #FFF2E6;

  // yellow
  --yellow-200: #806500;
  --yellow-300: #B38D00;
  --yellow-400: #E6B600;
  --yellow-500: #FFCF1A;
  --yellow-600: #FFDA4C;
  --yellow-700: #FFE480;
  --yellow-800: #FFEFB3;
  --yellow-900: #FFFAE6;

  // blue
  --blue-200: #003B80;
  --blue-300: #0052B3;
  --blue-400: #006AE6;
  --blue-500: #1A83FF;
  --blue-600: #4C9FFF;
  --blue-700: #80BAFF;
  --blue-800: #B3D6FF;
  --blue-900: #E6F1FF;
}